<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" >
    <div class="nav navbar-nav">       
        <a class="nav-item nav-link" 
        [class.active]="aba === 'home'" 
        (click)="aba = 'home'">Home</a>
        <a class="nav-item nav-link" 
            [class.active]="aba === 'mapa'"
            (click)="aba = 'mapa'">Mapa</a>            
        <a class="nav-item nav-link" 
            [class.active]="aba === 'lista'"
            (click)="aba = 'lista'">Lista</a>                   
        
      </div>    
</nav>


<div class="container" [ngSwitch]="aba">
    <p *ngSwitchCase="'mapa'">Modo Mapa Ativado</p>
    <p *ngSwitchCase="'lista'">Modo Lista Ativado</p>
    <p *ngSwitchDefault="'lista'">Home</p>
</div>

<p>Mostrando o valor de Aba agora: {{ aba }}</p>


<h5>Removendo o * e usando o template</h5>

<div class="container" [ngSwitch]="aba">
    <ng-template [ngSwitchCase]="'mapa'">
        <p>Mapa</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'lista'">
        <p>Lista</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'home'" NgSwitchDefault>
        <p>Home</p>
    </ng-template>  
</div>

