<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-start">
    <span class="btn border-success border-2" > 
    <a class="navbar-brand" href="#">Home</a>
    </span>
    <p>--</p>
    <ul class="navbar-nav">
      <span class="border border-2 rounded-pill border-success" >      
      <li class="nav-item">
        <a class="nav-link " routerLink="/templateForm">Form - template Driven</a>
      </li>      
    </span>
    <p>--</p>
      <span class="border border-2 rounded-pill border-success" >
      <li class="nav-item">
        <a class="nav-link " routerLink="/dataForm">Form - Data Driven</a>        
      </li>
    </span>          
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
  


